body, html {
  height: 100%;
  background: #000;
}
#ball {
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 10px;
  top: 0px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.bar {
  width: 20px;
  height: 100px;
  background: #000;
  border: 2px solid #fff;
}

#bar1 {
  top: 20px;
  float: left;
  position: absolute;
  border-radius: 10px;

}
#bar2 {
  top: 20px;
  right: 0px;
  position: absolute;
  border-radius: 10px;
}
#line {
  width: 50%;
  border-right: #fff dashed 5px;
  height: 100%;
}

#reset-button {
  background-color: #66b366;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#reset-button:hover {
  background-color: #4c9f4c;
}

.reset-button-container {
  text-align: center; /* centra el contenido en el eje horizontal */
}